* {
    box-sizing: border-box;
    text-decoration: none;
    overflow-x: hidden;
}

h1 {
    font-size: 2.3rem;
}

h6 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 4rem 0 1.6rem;
}

.flex {
    display: flex;
}

.main-container {
    margin: 0 0 0 25rem;
    padding: 3rem;
    /* background-color: aqua; */
}

.category-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: .1rem solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    min-width: 13rem;
    padding: 1rem;
    margin: 0 1rem 0 0;
    font-size: 1.4rem;
    font-weight: 600;
}

.category-button:hover {
    cursor: pointer;
}







/* Media queries */

@media (max-width:600px) {
    .main-container {
        margin: 0 0 10rem 0;
        padding: 3rem 2rem;
    }

    h6 {
        font-size: 1.5rem;
    }

    .category-button {
        font-size: 1.5rem;
    }
}
  