@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #F5F7FB;
  -webkit-tap-highlight-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex {
  display: flex;
}

@media(max-width: 998px) {
  html {
    font-size: 55%;
  }
}

@media(max-width: 768px) {
  html {
    font-size: 45%;
  }
}
