.login {
    margin: 3rem 8rem;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50rem;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.login-container p{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: .5rem;
}


.login-container input {
    padding: 0 2rem;
    height: 4.5rem;
    border: .2rem solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    font-size: 1.3rem;
    font-weight: 400;
    background-color: transparent;
    width: 100%;
    margin-bottom: 1.5rem;
}

.login-container input:focus {
    outline-color: rgba(0, 0, 0, 0.3);
}

.loginpage-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    background-color: #055FFC;
    border-radius: 1rem;
    margin: 2rem 0;
}

.login-container button {
    width: 100%;
    border: none;
}

.loginpage-btn:hover {
    cursor: pointer;
}

.loginpage-btn.google {
    background-color: white;
    color: black;
}

.loginpage-btn.google img {
    height: 2rem;
    margin-right: 1.5rem;
}

.or-div {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.or-div .line {
    height: .2rem;
    width: 30%;
    border-radius: .5rem;
    background-color: black;
    opacity: 0.5;
}


/* Media queries */

@media (max-width:600px) {
    .login {
        margin: 3rem;
    }

    .login-container {
        margin: 0px 3rem;
        bottom: 5rem;
        right: 0;
        left: 0;
        top: auto;
    }

    /* .login h1 {
        margin-bottom: 30px;
    } */
}