.searchbar {
    display: flex;
    align-items: center;
    height: 4.5rem;
    width: 45rem;
    background-color: white;
    border-radius: 4.5rem;
    margin-bottom: 3rem;
}

.searchbar .icon {
    margin: 0 2rem;
    height: 1.8rem;
}

.searchbar input {
    height: 4.5rem;
    width: 40rem;
    font-size: 1.4rem;
    font-weight: 500;
    border: none;
}

.searchbar input:focus {
    outline: none;
}






/* Media queries */

@media (max-width:600px) {
    .searchbar {
        width: 100%;
    }

    .searchbar input {
        width: 100%;
        font-size: 1.5rem;
    }
}