.blend-bg {
    display: none;
    height: 100vh;
    width: 100vw;
    background-color: white;
    mix-blend-mode: difference;
    position: absolute;
    z-index: 2;
}

.blend-bg.active {
    display: block;
}

.pdf-topbar {
    position: fixed;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    z-index: 3;
}

.dark-button {
    /* position: absolute; */
    top: 5rem;
    right: 5rem;
}

.pdf-navbar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    bottom: 5rem;
    margin: auto;
    padding: 0 3rem;
    z-index: 3;
}

.pdf-navbar span {
    font-size: 1.5rem;
    font-weight: 600;
}

.pdf-navbar span.white {
    color: white;
}

.react-pdf__Page__annotations {
    display: none;
}

.react-pdf__Page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.react-pdf__Page__canvas {
    height: 100vh !important;
    width: auto !important;
}






/* Media queries */

@media (max-width:600px) {
    .react-pdf__Page__canvas {
        width: 100vw !important;
        height: auto !important;
    }

    .pdf-topbar {
        justify-content: space-between;
        padding: 20px;
    }

    .pdf-navbar {
        justify-content: center;
    }
}