.createpost {
    margin: 3rem 8rem;
}

.createpost h6 {
    margin: 0 0 .5rem 0;
}

.createpost .upload-button {
    position: static;
}

.createpost input {
    padding: 0 2rem;
    height: 4.5rem;
    border: .1rem solid rgba(0, 0, 0, 0.1);
    border-radius: .1rem;
    font-size: 1.4rem;
    font-weight: 400;
    background-color: transparent;
    width: 50rem;
    margin-bottom: 2rem;
}

.createpost input:focus {
    outline: none;
}

.createpost .file-input {
    padding: 0;
    height: auto;
    border: none;
    border-radius: 0;
    font-size: 1.4rem;
    font-weight: 400;
    background-color: transparent;
    width: 50rem;
    margin-bottom: 2rem;
}

.createpost .file-input::-webkit-file-upload-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    width: 50rem;
    border-radius: 1rem;
    border: solid .2rem rgba(0, 0, 0, 0.1);
    background-color: white;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
}

.createpost .file-input::before {
    /* content: 'TAP TO UPLOAD'; */
}
