.landingpage {
    margin: 30px 80px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
}

.logo img {
    margin-right: 15px;
    height: 22px;
}

.landing-content {
    margin-top: 100px;
    align-items: center;
}

.landingpage p {
    font-weight: 600;
    opacity: 0.5;
    margin-bottom: 50px;
}

.login-btn, .signup-btn {
    min-width: 150px;
    padding: 16px;
    border-radius: 10px;
    font-weight: 600;
    margin-right: 20px;
}

.login-btn:hover, .signup-btn:hover {
    cursor: pointer;
}

.login-btn {
    background-color: #055FFC;
    border: none;
    color: white;
}

.signup-btn {
    border: 2px solid #055FFC;
    color: #055FFC;
    background-color: transparent;
}

.pbcc {
    font-size: 10px;
    margin-top: 50px;
    font-weight: 500;
}

.pbcc:hover {
    cursor: pointer;
}

.pbcc img {
    height: 15px;
    margin-right: 10px;
}

.illustration {
    height: 500px;
    margin-left: 200px;
}


/* Media queries */

@media (max-width:600px) {
    .logo {
        font-size: 18px;
    }

    .logo img {
        margin-right: 10px;
        height: 18px;
    }

    .landingpage {
        margin: 30px 30px;
    }

    .landingpage h1 {
        font-size: 20px;
    }

    .landingpage p {
        font-size: 14px;
    }

    .landingpage .buttons-div {
        flex-wrap: wrap;
        justify-content: center;
    }

    .landingpage .buttons-div button {
        margin: 5px 0;
        width: 70vw;
    }

    .landing-content {
        margin-top: 80px;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .illustration {
        height: 50vw;
        margin-left: 0px;
        margin-bottom: 50px;
    }

    .pbcc {
        justify-content: center;
    }
}