.requestcard {
    flex-direction: column;
    justify-content: space-between;
    width: 700px;
    height: fit-content;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 13px;
    font-weight: 400;
    background-color: white;
    margin: 0 0 20px 0;
    cursor: pointer;
}

.requestcard .left-div {
    min-width: 40px;
    margin-right: 20px;
}

.requestcard .right-div {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.request-content {
    /* justify-content: space-between; */
    margin: 30px 0 0;
}

.requestcard .user-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-size: cover;
}

.requestcard .request-text {
    width: 600px;
    margin: 0 0 20px 0;
}

.requestcard .username {
    font-weight: 600;
}

.request-info p {
    margin: 0 20px 0 0;
}



/* Media queries */

@media (max-width:600px) {
    .requestcard {
        width: 100%;
    }

    .requestcard .request-text {
        width: fit-content;
    }
}