.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    position: fixed;
    height: 100vh;
    padding: 0 3rem 5rem;
    width: 25rem;
    background-color: white;
    z-index: 2;
}

.navbar .logo {
    margin: 6rem 0;
    align-self: left;
}

.navbar .logo:hover {
    cursor: pointer;
}

.navbutton {
    display: flex;
    align-items: center;
    padding: 1.4rem 2rem;
    margin: .5rem 0;
    border-radius: 1rem;
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: 500;
}

.navbutton.active {
    background-color: black;
    color: white;
}

.navbutton.profile-pic.active img{
    filter: none;
}

.navbutton.active img {
    filter: invert(98%) sepia(0%) saturate(7472%) hue-rotate(57deg) brightness(106%) contrast(97%);
}

.navbutton.active:hover {
    background-color: black;
    color: white;
}

.navbutton img {
    margin-right: 1.5rem;
    height: 1.6rem;
}

.navbutton:hover {
    cursor: pointer;
    background-color: #F5F7FB;
}

.upload-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.4rem 2rem;
    min-width: 15rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    background-color: #005CFF;
    border: none;
    border-radius: 1rem;
    margin-bottom: 2.5rem;
    z-index: 2;
}

.upload-button:hover {
    cursor: pointer;
}

.profile-button {
    display: flex;
    align-items: center;
    border-radius: 5rem;
    height: 5rem;
    padding: 0 .25rem;
    user-select: none;
    cursor: pointer;
}

.profile-button.active, .profile-button:hover {
    background-color: #F5F7FB;
}

.navbar .profile-pic {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    background-color: #005CFF;
    margin-right: 1.5rem;
    background-size: cover;
}

.profile-button p {
    margin: 0;
}

.profile-button .name {
    font-size: 1.2rem;
    font-weight: 500;
}

.profile-button .username {
    font-size: 1.2rem;
    font-weight: 500;
    opacity: 0.5;
}

.profile-button .label {
    display: none;
}




/* Media queries */

@media (max-width:600px) {
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        /* align-items: center; */
        height: auto;
        padding: 1.5rem 2rem 1.5rem;
        width: 100vw;
        background-color: white;

        position: fixed;
        bottom: 0;
    }

    .nav-button-parent {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.4rem;
        font-weight: 500;
    }

    .navbutton {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0px 1.5rem;
        height: 5.5rem;
        width: 5.5rem;
        border-radius: 50%;
        background-color: transparent;
    }

    .navbutton img {
        margin-right: 0px;
        height: 2rem;
    }

    .profile-button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5rem;
        height: 4.5rem;
        width: 4.5rem;
        padding: 0;
        margin: 0px 1.5rem;
    }

    .navbar .profile-pic {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        margin-right: 0;
    }

    .profile-button-parent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile-button-parent .label {
        display: block;
        font-size: 1.5rem;
        font-weight: 500;
        margin: 0;
    }

    .profile-button .name, .profile-button .username {
        display: none;
    }

    .upload-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1.8rem 3rem;
        font-size: 1.55rem;
        font-weight: 500;
        color: white;
        background-color: #005CFF;
        border-radius: 1rem;
        margin-bottom: 2.5rem;

        position: fixed;
        bottom: 10rem;
        right: 2rem;
    }
}